{% extends 'base.html' %} {% block content %}

<!-- ######################### -->
<br>
{% if user.is_authenticated %}
{% if profile.user_id == current_user.user_id %}
<h2 class='header-text'>My Profile</h2>
{% else %}
<h2 class='header-text'>{{profile}}'s Profile</h2>
{% endif %}
{% endif %}
<hr />

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}"> Home</a>
        </li>
        {% if user.is_authenticated %}
        {% if profile.user_id == current_user.user_id %}
        <li class="breadcrumb-item active">My Profile</li>
        {% else %}
        <li class="breadcrumb-item active">{{profile}}'s' Profile</li>
        {% endif %}
        {% endif %}
      </ol>
    </nav>
  </div>
</section>
<hr />

<!-- #################### -->


<div class="card mb-3 container-fluid profileCard niacus no-gutters">
  <div class="row">
    <div class="col-md-4">
      <img src="{{photo_url}}" class="card-img profile-img"/>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <!-- <h3 class="card-title">My Profile</h3> -->
        <div id="profileTitleDiv card-title">
          <h2 class="text-truncate">{{profile.firstName}} {{profile.lastName}} 
            {% if user.is_authenticated %}
            {% if profile.user_id == current_user.user_id %}
            <a href="{% url 'profile_update' %}"><span class="material-icons">edit</span></a>
            {% endif %}
            {% endif %}
          </h2>
          </div>
        <hr>
        <h6 class="text-truncate"><span class="material-icons icon-size">phone</span>&nbsp;&nbsp;{{profile.phoneNumber}}</h6>
        <h6 class="text-truncate"><span class="material-icons icon-size">email</span>&nbsp;&nbsp;{{profile.email}}</h6>
        <h6 class="text-truncate"><span class="material-icons icon-size">fact_check</span>&nbsp;&nbsp;License # {{profile.licenseNumber}}</h6>
        <hr>
        <h6>About Me</h6>
        <p class="card-text">{{profile.blurb}}</p>

        {% if profile.isAgent == False %}
        <a href="{% url 'beanagent' %}"><button class="btn mvpButt searchButton">Become An Agent</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- #################### -->
<!-- Agent's listings title -->
<h5 class="display-6 profilePropertiesTitle">My Properties</h5>
<!-- Listings -->
<div class="container resultsContainer">
  <div class="row listingsList">
      {% for listing in listing_with_photo %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
            <img class="card-img-top" src="{{listing.1}}">
            <div class="card-img-overlay">
                <p class="card-price">${{listing.0.price}}</p>
            </div>
            <div class="card-body">
                <a class='stretched-link' href="{% url 'listing_detail' listing.0.id %}"></a>
                <h5 class="card-title text-truncate">{{listing.0.address}}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-truncate">{{listing.0.city}}, {{listing.0.province}}</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-truncate list-spacing">
                        <div>{% if 'H' in listing.0.buildingType %}House{% endif %}
                            {% if 'T' in listing.0.buildingType %}Townhouse{% endif %}
                            {% if 'S' in listing.0.buildingType %}Semi-Detached{% endif %}
                            {% if 'C' in listing.0.buildingType %}Condominium{% endif %}
                        </div>
                    </li>
                    <li class="list-group-item text-truncate list-spacing">
                        <div> {{listing.0.bedrooms}} Bed</div>
                        <div>{{listing.0.bathrooms}} Bath</div>
                        <div>{{listing.0.sqft}} Sqft</div>
                    </li>
                    <li class="list-group-item text-truncate list-spacing">
                        <div>Listed: {{listing.0.listingDate}}</div>
                    </li>
                    <li class="list-group-item text-truncate list-spacing">
                        <div>Closing: {{listing.0.closingDate}}</div>
                    </li>
                </ul>
            </div>
        </div>
  </div>
      {% endfor %}
</div>


    
    <br />
    <br />
  </div>
</section>

{% endblock %}
