{% extends 'base.html' %}
{% block content %}
<img width="100px" height="100px" src="{{photo_url}}" />
<form method='post' enctype="multipart/form-data" action="{% url 'submit_profile_update' %}" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-md-3">
            <label class="form-label"> Profile Picture: </label>
            <input type="file" name="image" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label class="form-label"> First Name: </label>
            <input type="text" name="firstName" class="form-control" value='{{profile.firstName}}' required/>
        </div>
        <div class="form-group col-md-3">
            <label class="form-label"> Last Name: </label>
            <input type="text" name="lastName" class="form-control" value='{{profile.lastName}}' required/>
        </div>
        <div class="form-group col-md-3">
            <label class="form-label"> License Number: </label>
            <input type="text" name="licenseNumber" class="form-control" value='{{profile.licenseNumber}}' required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="form-label"> Phone Number: </label>
            <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phoneNumber" value='{{profile.phoneNumber}}' class="form-control"  required/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-label"> Email Address: </label>
            <input type="email" name="email" class="form-control" value='{{profile.email}}' required/>
        </div>
    </div>
    <input type='submit' class="btn mvpButt"></input>
</form>
<a href="{% url 'profile_delete' %}"><button class="btn mvpButt">Delete Profile</button></a>



<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>
{% endblock content %}