{% extends 'base.html' %}
{% block content %}
<header>
    <h2> ABOUT STAY/PUT REAL ESTATE</h1> 
    <p> Lorem ipsum dolor sit amet consectetur.</p>
</header>


<hr>
<h6> Home/About</h6>
<hr>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit mollitia corrupti repellat nam maxime aspernatur, inventore, atque sit facere culpa doloribus pariatur eum possimus accusantium hic amet eveniet nobis quibusdam libero saepe alias beatae, consequatur quos. Ipsum, cumque neque ducimus exercitationem amet hic voluptates rerum error vero nam distinctio sequi?</p>
<hr>

<div>
    <h3> WE WORK FOR YOU</h3>
    <a class='btn btn-primary' href='' > view our featured listings</a>
</div>

<hr>

<h3>WE WORK WITH THE BEST</h3>


{% endblock %}