{% extends 'base.html' %}
{% block content %}
<header>
    <h2> ABOUT STAY/PUT REAL ESTATE</h1> 
    <p> Lorem ipsum dolor sit amet consectetur.</p>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    <hr>
</header>

<div id='info'>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit mollitia corrupti repellat nam maxime aspernatur, inventore, atque sit facere culpa doloribus pariatur eum possimus accusantium hic amet eveniet nobis quibusdam libero saepe alias beatae, consequatur quos. Ipsum, cumque neque ducimus exercitationem amet hic voluptates rerum error vero nam distinctio sequi?</p>
    <hr>

    <div>
        <h3> WE WORK FOR YOU</h3>
        <a class='btn btn-primary' href='' > view our featured listings</a>
    </div>

    <hr>

    <h3>WE WORK WITH THE BEST</h3>
</div>

{% if realtors %}
<div class='container' id='about-realtors'>
    <div class="row">
    {% for realtor in realtors %}
        <div class="col-md-4 about-profile-border">
                <div class="card card-about shadow">
                    <div class='row card-headline'>
                        <img class="card-img-top col-sm-6" src="{{realtor.profilePhoto.url}}">
                        <div  class='col-sm-6'>
                            <h4 class='card-header-tabs'>{{realtor}}</h6>
                            <br>
                            <h7 class='contact-card-text'> Broker with Stay/Put</h7>
                        </div>
                    </div>
                    <div class="card-body card-body-about">
                        <h5 class='contact-card-text'><span class="material-icons md-18">phone</span> {{realtor.phoneNumber}}</h6>
                        <h5 class='contact-card-text'><span class="material-icons md-18">email</span> {{realtor.email}}</h6>
                        <a class='stretched-link' href="{% url 'detail' realtor.user_id %}">Contact Me</a>
                    </div>
                </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}


{% endblock %}