{% extends 'base.html' %}
{% block content %}
<header>
    <hr>
    <br>
    <h2 class='header-text'>STAY/PUT™ REAL ESTATE</h1> 
        <p class='header-text lead'> THE BRAND YOU TRUST</p>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
    <hr>

</header>

<div id='info'>
    <div class='row about-info-row'>
        <img class="img-fluid col-sm-6 shadow" src="../../static/images/Attention-to-detail.jpeg" id='working-with-you' alt="realtor-helping-family">
        <div class='col-sm-6' id='text-box-about-1'>
            <h2 class='lead'><em>First class Agents<br> First class service</h2></em>
            <br>
            <h3 class='lead about-lead'>We go above and beyond with our attention to detail in finding the perfect home for your needs so you can Stay / Put ™</h3>
            <br>
            <h3><img id="mainIcon" src="../../static/images/mainimg.png"/>Stay / Put ™</h3>
        </div>
    </div>
    <hr>
    <div class='row about-info-row'>
        <div class='col-md-6' id='text-box-about-2'>
            <h2 class="lead"><em>putting you first</em></h2>
            <br>
            <br>
            <h3 class='lead about-lead'>At Stay / Put ™ <br> We take care of everything and always put <em>You</em> first. So you can focus on what really matters.</h3>
            <br>
        </div>
        <img class="img-fluid col-md-6 info-img shadow" src="../../static/images/working-with-you-realtor.jpeg" id='working-with-you' alt="realtor-helping-family">
    </div>
    
    <hr>
        <a class='btn mvpButt  ' href='' > view our featured listings</a>
    <hr>
        <h3>WE WORK WITH THE BEST</h3>
    <hr>
</div>

{% if realtors %}
<div class='container' id='about-realtors'>
    <div class="row">
    {% for realtor in realtors %}
        {% if realtor.isAgent %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card mb-3 niacus">
              <img class="card-img-top" src="{{realtor.profilePhoto.url}}"/>
              <div class="card-body">
                    <a class='stretched-link' href="{% url 'agent_profile' realtor.user_id %}"></a>
                    <h5 class="card-title text-truncate">Property Realtor</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-truncate">{{realtor.firstName}} {{realtor.lastName}}</h6>
                    <li class="list-group-item list-spacing">
                        <div class="text-truncate"><span class="material-icons icon-size">phone</span>&nbsp;&nbsp;{{realtor.phoneNumber}}</div>
                    </li>
                    <li class="list-group-item list-spacing">
                        <div class="text-truncate"><span class="material-icons icon-size">email</span>&nbsp;&nbsp;{{realtor.email}}</div>
                    </li>
              </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}

<hr>
    <div id='footer-links'>
        <a class='btn mvpButt  ' href="{% url 'signup' %}" ><span class="material-icons">
            group_add
            </span> Become An Agent</a>
        <a class='btn mvpButt  ' href="tel:914-737-9938" ><span class="material-icons">
            support_agent
            </span> Support</a>
        <a class='btn mvpButt  ' href="" ><span class="material-icons">
            feedback
            </span> Give Feedback</a>
        <a class='btn mvpButt  ' href="{% url 'terms_conditions' %}" ><span class="material-icons">
            security
            </span>Terms & Conditions</a>
    </div>
<hr>
<br>



{% endblock %}