{% extends 'base.html' %}
{% block content %}
<h1>Search Results</h1>
{% for listing in listing_with_photo %}
<a href="{% url 'listing_detail' listing.0.id %}">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{listing.1}}">
        <div class="card-body">
            <div class="card-body">
                <h5 class="card-title text-truncate">{{listing.0.address}}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-truncate">{{listing.0.city}}, {{listing.0.province}}</h6>
                <div>
                    <div class="card-text text-truncate">sqft: {{listing.0.sqft}}</div>
                    <div class="card-text text-truncate">Bedrooms: {{listing.0.bedrooms}}</div>
                    <div class="card-text text-truncate">Bathrooms: {{listing.0.bathrooms}}</div>
                    <div class="card-text text-truncate">sqft: {{listing.0.sqft}}</div>
                </div>
                <div class="card-text text-truncate">Listing Date: {{listing.0.listingDate}}</div>
                <div class="card-text text-truncate">Closing Date: {{listing.0.closingDate}}</div>
            </div>
        </div>
    <div>
</a>
{% endfor %}
{% endblock content %}