/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

* {
  --main-butt: rgb(159, 218, 233);
}

/*-- Base --*/
body {
  background-color: rgb(146, 205, 219);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

main {
  flex: 1 0 auto;
  margin-bottom: 30px;
}

/* Header */

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-items,
#nav-admin {
  text-align: center;
}

@media (min-width: 992px) {
  #nav-items,
  #nav-admin {
    display: flex;
    flex-wrap: wrap;
  }
}

#mainIcon {
  width: 30px;
}
.navbar-text {
  text-decoration: none;
}

/* Footer */
nav.fixed-bottom {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0;
}

.navbar-text {
  text-align: right;
  font-size: 15px;
  padding-right: 20px;
}

/*-- Home --*/

#home_title {
  margin-top: 30px;
  text-align: center;
}
.home_info {
  text-align: center;
}
#home_subtitle {
  margin-top: 50px;
  text-align: center;
}
.button_center {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchButt {
  margin-top: 30px;
  width: 200px;
}
.updateButtons {
  margin-bottom: 20px;
}
.deleteButt {
  background-color: rgb(255, 129, 129);
  text-decoration: none;
}
.deleteButt:hover {
  background-color: rgb(219, 108, 108) !important;
}
.deLink {
  text-decoration: none;
}

/* Login */

/* Search */
#searchResultsTitle,
.page_title {
  text-align: center;
  margin: 25px 0;
}
.page_subtitle {
  text-align: center;
  margin: 25px 0;
}
.minmax {
  display: flex !important;
  flex-direction: row;
}
.form-floating > .bi-calendar-date + .datepicker_input + label {
  padding-left: 3.5rem;
  z-index: 3;
}

.card-price {
  display: inline-block;

  width: auto;
  height: 38px;

  background-color: #6ab070;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #6ab070;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
/* Makes the triangle */
.card-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #6ab070;
}

/* Makes the circle */
.card-price:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.list-group-item {
  font-size: 14px;
}
.list-spacing {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.listingsList {
  display: flex;
  flex-wrap: wrap;
}
/* for about */
.header-text {
  display: block;
  text-align: center;
}

.about-lead {
  font-size: 2rem;
}
.info-img {
  float: right;
}
#working-with-you {
  border: 0.2rem solid white;
  padding: 0px;
  border-radius: 10px;
}
.text-box-about {
  font-size: 1em;
  justify-content: space-evenly;
}
.about-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.card-about-name {
  margin: 0 auto;
  right: 3rem;
}
.about-profile-border {
  padding: 1rem;
  /* display: flex; */
  justify-content: space-evenly;
}
.card-headline {
  /* padding:.5rem; */
  display: flex;
  justify-content: space-between;
}
.card-about-img {
  width: 8rem;
  height: 7rem;
  object-fit: cover;
}
.card-about {
  min-height: 100%;
  padding: 0.5rem;
}
.card-about-text {
  font-size: 1em;
}
.card-about-text > p {
  font-size: 2.7em;
}
#info {
  display: block;
  text-align: center;
}
.about-info-row {
  margin: 3rem auto;
}

@media (min-width: 992px) {
  #text-box-about-1 {
    padding-left: 5rem;
  }
  #text-box-about-2 {
    padding-right: 5rem;
  }
}

#about-realtors {
  margin-bottom: 3rem;
  /* padding:1rem; */
  gap: 1rem;
}
#footer-links {
  display: flex;
  justify-content: space-evenly;
}

/* Profile */
#profileTitleDiv {
  display: flex;
  justify-content: space-between;
}
.profileCard {
  padding: 0 !important;
}

/* Profile Create */
#profileCreateTitle {
  margin-top: 30px;
  text-align: center;
}
.profileCreateInfo {
  text-align: center;
}
.profile-img {
  height: 320px;
  object-fit: cover;
  border-radius: 3px;
  margin-left: 0;
}
.icon-size {
  font-size: 1.3rem;
}
.profilePropertiesTitle {
  margin-bottom: 30px;
  text-align: center;
}
/* Featured Listings */
.featured-home-image {
  padding: 0rem;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.featured-card {
  padding: 0rem;
  margin: 0rem;
  color: snow;
  background-color: whitesmoke;
  text-align: center;
  margin-bottom: 4rem auto;
  vertical-align: middle;
}
.featured-row {
  width: 100%;
}
.featured-info-text {
  padding: 0;
  margin: 0;
  justify-content: center;
  background-color: slategray;
}
.featured-info {
  padding: 0;
  margin: 0;
  justify-content: center;
  vertical-align: middle;
}

/* terms and conditions */
#terms > h1,
h2,
h3,
h4,
a {
  text-align: center;
}

/* Button styling */

.mvpButt {
  border: 1px solid grey !important;
  margin-bottom: 5px;
}
.mvpButt:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.more-details-butt {
  margin-bottom: 0.5rem;
}

.carousel-control-prev-icon {
  background-color: rgba(36, 36, 36, 0.733);
  height: 70px;
  width: 40px;
}

.carousel-control-next-icon {
  background-color: rgba(36, 36, 36, 0.733);
  height: 70px;
  width: 40px;
}

.niacus {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
}

.fontsz {
  font-size: 22px;
}

/* Listing Details */
#breadcrumb_bookmarked {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmarkImg {
  width: 30px;
  height: 35px;
}

.breadcrumbPadding{
  padding-top: 15px;
}

.carousel-item{
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
  border-radius: 3px;
}
.d-block{
  border-radius: 3px;
}
