/*-- Base --*/
body{
    background-color: rgb(166, 232, 248);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

/* Header */

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav-items, #nav-admin{
    text-align: center;
}

@media(min-width: 992px){
    #nav-items, #nav-admin{
        display: flex;
        flex-wrap: wrap;
    } 
}


/* Footer */
nav.fixed-bottom{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.navbar-text{
    text-align: right;
    font-size: 15px;
    padding-right: 20px;
}

/*-- Home --*/

/* Search */
.minmax{
    display: flex!important;
    flex-direction: row;
}

/* for about */
header{
    display: block;
    text-align: center;
}
header>h6{
    text-align: left;
}
#info{
    display: block;
    text-align: center;
}
#about-realtors{
    margin-bottom: 3rem;
}

/* end about */
