/* Variables */
*{
    --main-butt: rgb(159, 218, 233);
}

/*-- Base --*/
body{
    background-color: rgb(166, 232, 248);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

/* Header */

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav-items, #nav-admin{
    text-align: center;
}

@media(min-width: 992px){
    #nav-items, #nav-admin{
        display: flex;
        flex-wrap: wrap;
    } 
}

.navbar-text{
    text-decoration: none;
}

/* Footer */
nav.fixed-bottom{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.navbar-text{
    text-align: right;
    font-size: 15px;
    padding-right: 20px;
}

/*-- Home --*/

/* Search */
.minmax{
    display: flex!important;
    flex-direction: row;
}

.form-floating > .bi-calendar-date + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
  }

/* for about */
header{
    display: block;
    text-align: center;
}
header>h6{
    text-align: left;
}
#info{
    display: block;
    text-align: center;
}
#about-realtors{
    margin-bottom: 3rem;
}

/* Button styling */

.mvpButt{
    border: 1px solid grey!important;
}
.mvpButt:hover{
    border: 1px solid grey!important;
    background-color: var(--main-butt);
}