{% extends 'base.html' %} {% block content %}
<header>
    <h2> FEATURED LISTINGS</h1> 
    <p> Lorem ipsum dolor sit amet consectetur.</p>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">featured listings</li>
        </ol>
      </nav>
    <hr>
</header>

{% for listing in listing_with_photo %}
    <div class="card col-md-6">
        <p class='btn'>{{listing.1}}</p>
        <h3 class='blue' > HELLO! {{listing.1.0.url}}</h3>
        <!-- <img class="card-img-top" src="{{listing.1}}"> -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{listing.1.0.url}}" class="d-block w-100" alt="main home picture">
                </div>

                <div class="carousel-item">
                    <img src="{{listing.1.1.url}}" class="d-block w-100" alt="additional home picture">
                </div>

                {% for link in listing.1 %}
                <div class="carousel-item">
                    <img src="{{link.url}}" class="d-block w-100" alt="additional home picture">
                </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#featuredImages" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="card-body">
            <div class="card-body">
                <h5 class="card-title text-truncate">{{listing.0.address}}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-truncate">{{listing.city}}, {{listing.0.province}}</h6>
                <div>
                    <div class="card-text text-truncate">sqft: {{listing.0.sqft}}</div>
                    <div class="card-text text-truncate">Bedrooms: {{listing.0.bedrooms}}</div>
                    <div class="card-text text-truncate">Bathrooms: {{listing.0.bathrooms}}</div>
                    <div class="card-text text-truncate">sqft: {{listing.0.sqft}}</div>
                </div>
                <div class="card-text text-truncate">Listing Date: {{listing.0.listingDate}}</div>
                <div class="card-text text-truncate">Closing Date: {{listing.0.closingDate}}</div>
            </div>
        </div>
    <div>
{% endfor %}
{% endblock %}

<!-- Not Found: /listing/featured/<QuerySet [<ListingPhoto: Photo for real_estate_id: 1 @https://stay-put.s3.ca-central-1.amazonaws.com/927053.jpeg>, 
    <ListingPhoto: Photo for real_estate_id: 1 @https://stay-put.s3.ca-central-1.amazonaws.com/0faf8c.jpeg>,
     <ListingPhoto: Photo for real_estate_id: 1 @https://stay-put.s3.ca-central-1.amazonaws.com/c6d647.jpeg>,
      <ListingPhoto: Photo for real_estate_id: 1 @https://stay-put.s3.ca-central-1.amazonaws.com/4489cf.jpeg>,
       <ListingPhoto: Photo for real_estate_id: 1 @https://stay-put.s3.ca-central-1.amazonaws.com/c12bd9.jpeg>]> -->