{% extends 'base.html' %}
{% block content %}

<!-- ########################## -->
<br>
<h2 class='header-text'>UPDATE LISTING</h1> 

  <hr>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}"> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'profile' %}"> Profile</a>
        </li>
        <li class="breadcrumb-item active">Create Listing</li>
      </ol>
    </nav>
  </div>
  <hr>
<!-- Listing -->
<!-- <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'home' %}" class="btn btn-light mb-4">Back To Listings</a>   
    </div>
</section> -->

{% if is_user_realtor %}
<a href="{% url 'listing_delete' listing.id %}"><button class="btn mvpButt btn-primary btn-block margin-button col-md-2">Delete Listing</button></a>
{% endif %}

<form method='post' enctype="multipart/form-data" action="{% url 'listing_update_submit' listing.id%}" class="needs-validation" novalidate>
    {% csrf_token %}

    <!-- Thumbnail 1 -->
    <br class="col-md">
        <div class="row mb-4">  
          <div class="col-md-2">
            {% if photo_urls.0 %}
            <a>
              <img
                src="{{photo_urls.0.url}}"
                alt=""
                class="img-fluid img-thumbnail"
              />
            </a>
            <a href="{% url 'delete_photo' listing.id photo_urls.0.id %}">
Delete            </a>
            {% endif %}
          </div>
          <!-- Thumbnail 2 -->
          <div class="col-md-2">
            {% if photo_urls.1 %}
            <a>
              <img
                src="{{photo_urls.1.url}}"
                alt=""
                class="img-fluid img-thumbnail"
              />
            </a>
            <a href="{% url 'delete_photo' listing.id photo_urls.1.id %}">
Delete            </a>
            {% endif %}
          </div>
          <!-- Thumbnail 3 -->
          <div class="col-md-2">
            {% if photo_urls.2 %}
            <a>
              <img
                src="{{photo_urls.2.url}}"
                alt=""
                class="img-fluid img-thumbnail"
              />
            </a>
            <a href="{% url 'delete_photo' listing.id photo_urls.2.id %}">
Delete
            </a>
            {% endif %}
          </div>
          <!-- Thumbnail 4 -->
          <div class="col-md-2">
            {% if photo_urls.3 %}
            <a>
              <img
                src="{{photo_urls.3.url}}"
                alt=""
                class="img-fluid img-thumbnail"
              />
            </a>
            <a href="{% url 'delete_photo' listing.id photo_urls.3.id %}">
Delete
            </a>
            {% endif %}
          </div>
          <!-- Thumbnail 5 -->
          <div class="col-md-2">
            {% if photo_urls.4 %}
            <a>
              <img
                src="{{photo_urls.4.url}}"
                alt=""
                class="img-fluid img-thumbnail"
              />
            </a>
            </a>
            <a href="{% url 'delete_photo' listing.id photo_urls.4.id %}">
Delete
            </a>
            {% endif %}
          </div>
          <!-- Thumbnail 6 -->
          <div class="col-md-2">
            {% if photo_urls.5 %}
            <a>
              <img
                src="{{photo_urls.5.url}}"
                alt=""
                class="img-fluid img-thumbnail"
              />
            </a>
            </a>
            <a href="{% url 'delete_photo' listing.id photo_urls.5.id %}">
              Delete
            </a>
            {% endif %}
          </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label"> Images: </label>
                <input id="file-input" type="file" name="images" accept="image/*" onchange="loadFile(event)" multiple class="form-control">
                <div id="preview"></div>
            </div>
        </div>
        <br> 
        </div>      
    </div>
    
    <div class="row">
        <div class="form-group col-md-3">
            <label class="form-label"> Address: </label>
            <input type="text" name="address" class="form-control" value="{{listing.address}}" required/>
        </div>
        
        <div class="form-group col-md-3">
            <label class="form-label"> City: </label>
            <input type="text" name="city" class="form-control" value="{{listing.city}}" required/>
        </div>
        <div class="form-group col-md-3">
            <label class="form-label"> Province: </label>
            <select name="province" class="form-select" required>
                <option {% if 'Ontario' in listing.province %}selected{% endif %} value="Ontario">Ontario</option>
                <option {% if 'Quebec' in listing.province %}selected{% endif %} value="Quebec">Quebec</option>
                <option {% if 'Prince Edward Island' in listing.province %}selected{% endif %} value="Prince Edward Island">Prince Edward Island</option>
                <option {% if 'Nova Scotia' in listing.province %}selected{% endif %} value="Nova Scotia">Nova Scotia</option>
                <option {% if 'New Brunswick' in listing.province %}selected{% endif %} value="New Brunswick">New Brunswick</option>
                <option {% if 'Newfoundland and Labrador' in listing.province %}selected{% endif %} value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                <option {% if 'Winnipeg' in listing.province %}selected{% endif %} value="Winnipeg">Winnipeg</option>
                <option {% if 'Saskatchewan' in listing.province %}selected{% endif %} value="Saskatchewan">Saskatchewan</option>
                <option {% if 'Alberta' in listing.province %}selected{% endif %} value="Alberta">Alberta</option>
                <option {% if 'British Columbia' in listing.province %}selected{% endif %} value="British Columbia">British Columbia</option>
                <option {% if 'Yukon' in listing.province %}selected{% endif %} value="Yukon">Yukon</option>
                <option {% if 'Northwest Territories' in listing.province %}selected{% endif %} value="Northwest Territories">Northwest Territories</option>
                <option {% if 'Nunavut' in listing.province %}selected{% endif %} value="Nunavut">Nunavut</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="form-label"> Postal Code: </label>
            <input type="text" name="postalCode" class="form-control" value="{{listing.postalCode}}" placeholder="ex. A1A 1A1" required/>
        </div>
        
    </div>
<br>
     <!-- Fields -->
     <label class="form-label"> Property Details: </label>

     <div class="row mb-4">
        <div class="col-md-6">
          <ul class="list-group list-group-flush niacus">
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label"> Price: </label>
                    <input type="number" name="price" value="{{listing.price}}" min="0" class="form-control" required/>
                </div> 
              <!-- <span class="float-right">$490,000</span> -->
            </li>
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label"> Bedrooms: </label>
                    <input type="number" name="bedrooms" value="{{listing.bedrooms}}" min="0" class="form-control" required/>
                </div>
            </li>
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label"> Bathrooms: </label>
                    <input type="number" name="bathrooms" value="{{listing.bathrooms}}" min="0" class="form-control" required/>
                </div>
            </li>
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label"> Parking: </label>
                    <select name="parking" class="form-select" required>
                        <option {% if 'Y' in listing.parking %}selected{% endif %} value="Y">Yes</option>
                        <option {% if 'N' in listing.parking %}selected{% endif %} value="N">No</option>
                    </select>
                    <br>
                </div>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="list-group list-group-flush niacus">
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label"> Sqft: </label>
                    <input type="number" name="sqft" value="{{listing.sqft}}" min="0" class="form-control" required/>
                </div>
            </li>
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label"> Building Type: </label>
                    <select name="buildingType" class="form-select" required>
                        <option {% if 'C' in listing.buildingType %}selected{% endif %} value="C">Condo</option>
                        <option {% if 'T' in listing.buildingType %}selected{% endif %} value="T">Townhouse</option>
                        <option {% if 'S' in listing.buildingType %}selected{% endif %} value="S">Semi-Detached</option>
                        <option {% if 'H' in listing.buildingType %}selected{% endif %} value="H">House</option>   
                    </select>
                </div>
            </li>
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label"> Closing Date: </label>
                    <input type="date" id='datepicker' name="closingDate" value="{{listing.closingDate|slugify}}" class="form-control" required/>
                </div> 
            </li>
            <li class="list-group-item text-secondary">
                <div class="form-group col-md-6">
                    <label class="form-label">Agent:</label>
                    <h4>{{agent}}</h4>
                </div> 
                <br>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group col-md-12">
            <label class="form-label"> Description: </label>
            <textarea type="textarea" name="description" rows="6" class="form-control" required/>{{listing.description}}</textarea>
        </div>
        <div>
          <br>
          <br>
      <input type='submit' class="btn mvpButt btn-primary btn-block margin-button col-md-2"></input>  
    </div>
        <br>
        <br>
        
</form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
{% endblock content %} 